<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!-- Code By Alireza Derakhshan -->
<div id="contener">
    <div id="circle_1"></div>
    <div id="circle_2"></div>
    <form action="/submit" method="POST">
        <span>Welcome</span>
        <label>Username</label>
        <input type="text" name="username">
        <label>Password</label>
        <input type="text" name="password">
        <input type="submit">
    </form>
</div>
</body>
</html>